venv/

Mail_Simulation.pyproj
.vs/
.vscode/

simulator/log/
simulator/logs/
simulator/test*.json
simulator/src/__pycache__
simulator/chrome_profiles/*
!simulator/chrome_profiles/tracked_profile/History
!simulator/chrome_profiles/tracked_profile/Preferences
!simulator/chrome_profiles/untracked_profile/History
!simulator/chrome_profiles/untracked_profile/Preferences

my_email_solution/docker-data/dms/
!my_email_solution/docker-data/dms/config/
!my_email_solution/docker-data/dms/ssl/
