venv/
log/
logs/
Mail_Simulation.pyproj
.vs/
chrome_profiles/*
!chrome_profiles/tracked_profile/History
!chrome_profiles/tracked_profile/Preferences
!chrome_profiles/untracked_profile/History
!chrome_profiles/untracked_profile/Preferences

